.app-container {
  display: flex;
  font-family: Arial;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background: #111827;
  color: white;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
  cursor: pointer;
}

.main-area {
  flex: 1;
  background: #f3f4f6;
}

.header {
  background: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}